form.b-signup-form
    .form-group
        input.form-control(type='email', placeholder='Email')
    .form-group
        input.form-control(type='password', placeholder='Password')
    .form-group
        input.form-control(type='password', placeholder='Confirmation')
    .form-group
        button.btn.btn-default.btn-signup(type='submit') SignUp
