.col-md-12.col-xs-12
  .row.e-item-card(ng-repeat="item in search.items | itemFilter :search.filters")
    .col-md-4.col-xs-4
      .item-container
        img(ng-src='{{item.imageSrc}}', alt='{{item.name}}')
        item-rating(value='item.rating', stars-number='5')
    .col-md-8.col-xs-8
      .row.item-container
        .col-md-4.col-xs-4
          h3 {{item.name}}
        .col-md-4.col-xs-4
          h3 {{item.issueDate | date : "yyyy-MM-dd"}}
        .col-md-4.col-xs-4
          h3 {{item.price | currency:"$ "}}
      .row.item-container
        .col-md-4.col-xs-4
          .item-color(style="background-color: {{item.color}};")
        .col-md-4.col-xs-4
          h3(ng-class="{'item-in-stock': item.isInStock, 'item-not-in-stock': !item.isInStock}") In stock
        .col-md-4.col-xs-4
          button.btn.btn-default(ng-click="search.addItemToCart(item)" style='width: 100px;') Order
