.b-search
  div(ng-include="'app/pages/search/navbar.html'")
  div(ng-include="'app/pages/search/filters.html'")
  div(ng-include="'app/pages/search/separator.html'")
  div(ng-include="'app/pages/search/items.html'")
