.b-search button.cart {
  margin-right: 10px;
  margin-left: 10px;
}

.b-search .e-item-card img {
  width: 200px;
  height: 200px;
  margin: 30px;
}

.b-search .e-item-card .item-in-stock {
  color: #006C00;
}

.b-search .e-item-card .item-not-in-stock {
  color: #930000;
  text-decoration: line-through;
}

.b-search .e-item-card .item-color {
  width: 50px;
  height: 50px;
  border: 2px solid #BBBBBB;
}

.b-search ul.dropdown-cart{
  min-width:250px;
}

.b-search ul.dropdown-cart li .item {
  display:block;
  padding:3px 10px;
  margin: 3px 0;
}

.b-searchul.dropdown-cart li .item:after{
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.b-search ul.dropdown-cart li .item-left{
    float:left;
}

.b-search ul.dropdown-cart li .item-left img,
.b-search ul.dropdown-cart li .item-left span.item-info{
  float:left;
}

.b-search ul.dropdown-cart li .item-left img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.b-search ul.dropdown-cart li .item-left span.item-info{
  margin-left:10px;
}

.b-search ul.dropdown-cart li .item-left span.item-info span{
  display:block;
}

.b-search ul.dropdown-cart li .item-right {
  float:right;
}

.b-search ul.dropdown-cart li .item-right button {
  margin-top:14px;
}
