form.b-login-form
    .form-group
        input.form-control(type='email', placeholder='Email')
    .form-group
        input.form-control(type='password', placeholder='Password')
    .form-group
        button.btn.btn-default.btn-login(type='submit') Login
    .form-group
        button.btn.btn-default.btn-login(type='submit') SingUp
